body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
* {
    box-sizing: border-box;
}

main {
    width: 860px;
    height: 100%;
    display: grid;
    background-color: pink;
    grid-template-columns: 175px 1fr 115px;

}

.left-nav {
    border: solid 1px black;
}

.middle-content {
    border: solid 1px black;
    display: grid;
    grid-template-rows: 60px 1fr;
}

.right-nav {
    border: solid 1px black;
}

header {
    border: solid 1px black;
}

.middle-content section {
    border: solid 1px black;
    display: grid;
    grid-template-columns: 195px auto 130px;
}

.middle-content div {
    border: solid 1px black;
}

.middle-content .left-col {
    display: grid;
    grid-template-rows: 230px 230px auto;
}
    
.middle-content .mid-col {
    display: grid;
    grid-template-rows: 220px auto;

}
.middle-content .right-col {
    display: grid;
    grid-template-rows: auto 125px;
}
  
